
body, ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background: rgba(0, 0, 0, .05);
}

.container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.containerDois {
    width: 100%;
}

#logo img {
  width: 60px;
  height: 60px;
  margin-top: 2px;
}



#header {
  box-sizing: border-box;
  height: 85px;
  display: flex;
  align-items: center;
  background: #00A956;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-bottom: 4px solid #066C44;
  position: sticky;
  width: 100%;
}

#logo-slogan {
    display: flex;
    gap: 20px;
    text-transform: none;
    letter-spacing: 0;
    align-items: center;
}

#menu {
  display: flex;
  list-style: none;
  gap: .5rem;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-mobile {
  display: none;
}

#nav {
  margin: auto 0;
}

/* ---INTRODUÇÃO--- */

.introducao {
    width: 100%;
    height: 380px;
    background: linear-gradient(to right, white 15%, transparent 65%), url("assets/intro.svg") no-repeat center;
    background-size: cover;
    padding-top: 80px;
    border-bottom: 4px solid #066C44;
}
.introInfo {
  display: contents;
  justify-content: space-between;
}

.intro {
  width: 615px;  
  color: #a2460a;
  
  margin: 11px 0;

}

.intro h1 {
  font-size: 3rem;
  margin: 0;
}

.logo img {
  width: 320px;
  height: 320px;
}

.intro p {
  font-size: 1.6rem;
  width: 70%;
}

/* ===QUEM SOMOS=== */

.quem-somos {
  width: 100%;
  background: #00A956;
  border-bottom: 4px solid #066C44;
}

.quem-somos h1 {
    color: white;
    font-size: 2.25rem;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 20px;
}

.quem-somos p {
  width: 80vw;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 1.4rem;
}

/*===CARDS===*/

.cardss {
  padding: 40px;
  display: grid;
  place-items: center center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

  }

.card {
  border-radius: 5px;
  
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.containerCard {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.containerCard img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

img{
  width: 100%;
  display: block;
}

.containerCard:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*=== O QUE FAZEMOS=== */

.oqueFazemos {
  width: 100%;
  background: #E4FFF1;  
}

.comoFazemos {
  width: 100%;
  background: #00A956;
  
  border-bottom: 4px solid #066C44;
}

/*=== INFORMES ===*/

.background, .inform {
  width: 100%;
  height: auto;
}

.inform img {
  width: 20vh;
}

  .elements {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 8%;
}

.text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #00A956;
    margin: 5px auto;
}

.text p {
  font-size: 1.6rem;
  margin: 2px auto;
  color: #00A956;
  width: 40vw;
}

.elements2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.textDois {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 8%;
}

.textDois h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #E4FFF1;  
  margin: 0 auto 5px auto;

}

.textDois p {
  font-size: 1.4rem;
  margin: 2px auto;
  color: #E4FFF1;
}

/*=== UM POUCO MAIS */

.umPoucoMais {  
  text-align: center;

  background-color: #E4FFF1;
  
  border-bottom: 4px solid #066C44;
}

.umPoucoMais h1 {
  font-size: 3rem;
  color: #00A956;
  margin: 0;
  padding-top: 40px;
}

.umPoucoMais p {
  color:#00A956;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 20px;
}

.umPoucoMais a {
  color: #066C44;
  font-weight: bold;
}

.containerTres {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

iframe {
  width: 60%;
  height: 70vh;
  margin: 0 auto 40px;
  box-shadow: rgb(0 0 0 / 40%) 0px 1px 20px;
  border-radius: 8px;
}

/*====CERTIFICAÇÃO===*/

.certificada {
  background-color: #00A956;
  border-bottom: 4px solid #066C44;
}

.content {  
  color: white;  
  text-align: center;
}

.content img {
  width: 132px;  
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
}

span p {
    font-size: 3rem;
    margin: 0 auto;
}

.textTable {
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 30px;
}

.table {
  margin-bottom: 40px;
  box-shadow: rgb(0 0 0 / 40%) 0px 1px 20px;
}

.table img {
  border-radius: 8px;
}

/*===CONFORMIDADE===*/

.conformidade {
  width: 100%;
  background: #E4FFF1;
  
  border-bottom: 4px solid #066C44;
}

.tituloConformidade {
  color: #00A956;
}

.tituloConformidade p {
  font-size: 1.4rem;
}

.tituloConformidade h1 {
  font-size: 3rem;
  margin: 0;
  padding: 25px 0;
}

.download {
  align-items: center;
  margin: 20px auto 30px;
  border: 3px solid;
  border-color: #00A956;
  border-radius: 15px;
  padding: 10px;
}

.download img {
  width: 55px;
  height: 55px;
  margin: auto;
}

.download a {
  display: flex;
  gap: 20px;
}

.download p {
  color: #00A956;
  font-size: 1.4rem;
}

/*===CONTATO===*/

.contato {
  background: #00A956;

  border-bottom: 4px solid #066C44;
}

.contatos {
  display: flex;
  flex-direction: column;
}

.contatos img {
  width: 40px;
}

.contatos a {
  color: #E4FFF1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-size: 1.4rem;  
  margin-bottom: 5px;
}

.redes-sociais {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.contatos h1 {
  font-size: 2.5rem;
  color: white;
  margin: 40px 0 30px;
}

.contatos span {
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
  margin: 15px 0 10px;
}

.logo-contato {
  padding: 40px;
}

.contentContato {
  margin: auto 0;
  display: contents;
  justify-content: space-between;
}

.contatos p {
  margin: 0;
}
