
body, ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background: rgba(0, 0, 0, .05);
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#logo img {
  width: 60px;
  height: 60px;
  margin-top: 2px;
}



#header {
  box-sizing: border-box;
  height: 85px;
  display: flex;
  align-items: center;
  background: #00A956;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-bottom: 4px solid #066C44;
}

#logo-slogan {
  display: flex;
  gap: 10px;
  text-transform: none;
  letter-spacing: 0;
}

#menu {
  display: flex;
  list-style: none;
  gap: .5rem;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-mobile {
  display: none;
}

#nav {
  margin-top: 13px;
}

@media (max-width: 600px) {
  #btn-mobile {
    display: block;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 85px;
    right: 0px;
    background: #00A956;
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: scroll;
}
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }

  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    color: white;
  }

  #hamburger {
    border-top: 2.5px solid;
    width: 25px;
    color: black;
  }

  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 25px;
    height: 2.5px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent ;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px
  }

}
/* ---INTRODUÇÃO--- */

.introducao {
    width: 100%;
    height: 380px;
    background: url("assets/webtop.jpg") no-repeat center;
    background-size: cover;
    padding-top: 80px;
    border-bottom: 4px solid #066C44;
}

.intro {
  width: 615px;  
  color: #a2460a;
  
  padding-top: 30px;

}

.intro h1 {
  font-size: 40px;
  margin: 0;
}

.logo img {
  width: 320px;
  height: 320px;
}

.intro p {
  width: 325px;
  font-size: 20px;
}

/* ===QUEM SOMOS=== */

.quem-somos {
  width: 100%;
  background: #00A956;
  position: absolute;
}

.quem-somos h1 {
  color: white;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.quem-somos p {
  width: 900px;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 20px;
}

/*===CARDS===*/

.cardss {
  padding-top: 40px;
  display: grid;
  place-items: center center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

  }

.card {
  border: 2px solid #00A956;
  background-color: #E4FFF1;
  border-radius: 20px;
  
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.containerCard {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.containerCard img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

img{
  width: 100%;
  display: block;
}

.cardss h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #00A956;
}

.containerCard:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*=== O QUE FAZEMOS=== */

.oqueFazemos {
  width: 100%;
  height: 100%;
  background: #E4FFF1;
}